*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: white;
}
header{
    background-color: rgb(11,164,224);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px 0px 50px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    border-bottom: 5px solid rgb(232,196,104) ;
}

.logo img{
    width: 120px;
    height: auto;
}
.menu ul{
    font-size: 20px;
    list-style: none;
    display: flex; 
    justify-content: space-between;
}
.menu ul li{
    margin: 10px;
    padding: 10px;
}
section {
    display : flex;
    align-items: center;
    margin-inline: 100px;
    min-height: 70vh;
}
.text{
    direction: rtl;
}
.text h1{
    font-size: 40px;
    margin-bottom: 20px;
    text-align: right;
}
.text p{
    font-size: 30px;
}


footer{
    background-color: rgb(11,164,224);
    padding-block:10px  ;
    font-size:20px ;
    position: absolute;
    width: 100%;
    bottom: 0;
}
